<div>

<!-- {{feed}}
{{path}} -->


<div class="sidemenu">
  <br>
  <div class="logospace">
    <br><br>
    <a href="#"><img src="/views/images/7.png" width="70px" height="70px"></a>
  </div>

  <br><br><br>

  <div class="ctp">
    <a ui-sref="ctp"><img src="/views/images/4.png" width="80px" height="80px"></a>
    <p>Create Trading Partner</p>
  </div>
  <br><br>
  <div class="mtp">
    <a ui-sref="mtp"><img src="/views/images/1.png" width="80px" height="80px"></a>
    <p>Manage Trading Partner</p>
  </div>
  <br><br>
  <div class="upload">
    <a ui-sref="upload"><img src="/views/images/upload.png" width="80px" height="80px"></a>
    <p>Bulk Partner Upload</p>
  </div>
</div>



<div class="centermenu">
<div ng-repeat="item in feed">
<a href="/attachments/{{item._id}}.jpeg">kjasdh</a>
</div>
    <form ng-submit="add_record(newrecord)">
      USER NAME:<input type="text" ng-model="newrecord.username" required>
    </input>
    <hr>
    START DATE:<input type="datetime-local" ng-model="newrecord.fromDate" required></input>
  <hr>
  END DATE:<input type="datetime-local" ng-model="newrecord.toDate" required>
</input>
<hr>
PRIORITY:
<select ng-model="newrecord.priority" required>
  <option ng-repeat="i in [5,4,3,2,1]" selected  value={{i}} >{{i}}</option>


</select>
<hr>
DESCRIPTION:
<br><textarea ng-model="newrecord.description"> </textarea>

<hr>
FILE:<input type="file" file-model="myFile"  accept=".jpeg" required ></input>
<hr>

<button type="submit" id="add_record">submit</button>
</form>
</div>

<div>
</hr>
<form ng-submit="add_device(device)">
  DEVICE NAME:<input type="text" ng-model="device.devicename"></input>
  PASSWORD:<input type="password" ng-model="device.password"></input>
  <button type="submit" id="add_device">submit</button>
</form>
</div>

</div>
