<div>
<!-- {{feed}} -->
<!-- {{feed}}
{{path}} -->
<!-- <div ng-repeat="item in feed">
  <a href="/attachments/{{item._id}}.jpeg">kjasdh</a>
</div> -->
<style>
            table {
              font-family: arial, sans-serif;
              font-size: 6;
              border-collapse: collapse;
              width: 100%;
              /*display: block;
              overflow-x: scroll;*/
            }

            hr {
              color:black;
            }

            td {
              font-size: 10pt;
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
              width:20%;

            }
            th {
              font-size: 10pt;
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;


            }
            .left-col {
              float: left;
              width:45%;
            }
            .center-col {
              float: left;
              width: 35%;
            }
            .right-col {
              float: left;
              width: 25%;
            }
            </style>
<div class="sidemenu">
    <br>
    <div class="logospace">
    <br><br>
    <a href="#"><img src="/views/images/7.png" width="70px" height="70px"></a>
    </div>
    <br><br><br>

    <div class="ctp">
      <a href="" onclick="showDiv('formView')"><img src="/views/images/4.png" width="80px" height="80px"></a>
      <p>Add Notice</p>
    </div>
    <br><br>
    <div class="mtp">
      <a href="" onclick="showDiv('scheduleView')"><img src="/views/images/1.png" width="80px" height="80px"></a>
      <p>View Schedule</p>
    </div>
    <br><br>
    <div class="upload">
      <a href="" onclick="showDiv('deviceView')"><img src="/views/images/upload.png" width="80px" height="80px"></a>
      <p>Add Device</p>
    </div>
</div>


<div class="centermenu well" id="formView" >
    <h3><u>Add Notice</u></h3>
    <hr style="color:black">

    <form ng-submit="add_record(newrecord)">
        <div class="left-col" >
        <b>USER NAME:</b>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="newrecord.username" style="width:38%" required></input>
        </div>
      <b style="margin-left:-150px">PRIORITY:</b><select ng-model="newrecord.priority" required>
          <option ng-repeat="i in [5,4,3,2,1]" selected  value={{i}} >{{i}}</option>
        </select>
        <hr>
        <div class="left-col" >
        <b>START DATE:&nbsp;&nbsp;&nbsp;</b><input type="datetime-local" ng-model="newrecord.fromDate" style="width:38%" required></input>
        </div>
        <b>END DATE:&nbsp;</b><input type="datetime-local" ng-model="newrecord.toDate" required></input>
        <hr>
        <div class="left-col" style="margin-right:150px">
        <b style="vertical-align:top;">DESCRIPTION:</b>&nbsp;
        <textarea ng-model="newrecord.description"> </textarea>

      </div>
        <span style="float:left;vertical-align:center;"><b>FILE:</b></span>
          <input type="file" file-model="myFile"  accept=".png" required ></input>
      <hr>
      <button type="submit" id="add_record">submit</button>
      </form>
</div>


<div class="centermenu well" id="deviceView"  style="display:none;">
<h3><u>Register Device</u></h3>
  <hr>
  <form ng-submit="add_device(device)">
    <b>DEVICE NAME:</b><input type="text" ng-model="device.deviceName"></input> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b>PASSWORD:</b><input type="password" ng-model="device.password"></input>&nbsp;&nbsp;&nbsp;&nbsp;<hr>
    <button type="submit" id="add_device">ADD DEVICE</button>
  </form>
</div>

<div class="centermenu well" id="scheduleView"  style="display:none;">
  <h3><u>Schedules</u></h3>
<hr>
  <table>
    <tr style="color:white;background-color:gray">
      <th>USERNAME</th>
      <th>START TIME</th>
      <th>END TIME</th>
      <th>PRIORITY</th>
      <th>DESCRIPTION</th>
      <th>IMAGE</th>
      <th>DELETE</th>
    </tr>
    <tr ng-repeat="item in feed" >
      <th>{{item.username}}</th>
      <th>{{item.timeBegin}}</th>
      <th>{{item.timeEnd}}</th>
      <th>{{item.priority}}</th>
      <th>{{item.description}}</th>
      <th><a href="/attachments/{{item._id}}.jpeg">link</a></th>
      <th><button ng-click="deleteData(item)">DELETE</button></th>
    </tr>
  </table>

</div>


</div>
